<section class="row">
  <article class="column">
    <button class="button" data-csrf="<%= @token %>" data-method="post" data-to="/full">Full turn</button>
  </article>
  <article class="column">
    <button class="button" data-csrf="<%= @token %>" data-method="post" data-to="/second">1 second</button>
  </article>
  <article class="column">
    <button class="button" data-csrf="<%= @token %>" data-method="post" data-to="/half">.5 Second</button>
  </article>
</section>
